.Post {
  background-color: white;
  width: 45vw;
  padding: 2vh 2vw;
  border: 1px solid #06442027;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  margin: 3vh auto;
}
.Flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  border-bottom: 5px solid #e4efe7;
}
.Post p {
  margin: 1vh 0;
}
.Icon {
  display: inline-block;
  color: white;
  background-color: #064420;
  padding: 1vh 0.9vw;
  font-size: 1.7vw;
  margin-right: 2vh;
}
:global .fa-file-pdf {
  font-size: 1.9vw;
}
.Button2 {
  font-size: 1.2vw;
  color: white;
  background-color: #064420;
  border: none;
  display: inline-block;
  margin-top: 1.7vh;
  padding: 1.7vh 1.5vw;
  border-radius: 2%;
  text-decoration: none;
}
.Button2:hover,
.Button2:active {
  text-decoration: none;
  background-color: white;
  color: #064420;
}
.Files {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
